---
layout: default
---

<link href="{{ site.baseurl }}/css/item.css" rel="stylesheet"></link>
<script src="{{ site.baseurl }}/scripts/item_init.js" async></script>
<p align="right">
{% assign menu = site.data.languages[page.lang] %}
{% if page.duration != nil %}
    {{ menu.duration }}: {{ page.duration }}<br />
{% endif %}
{% if page.write_time != nil %}
    {{ menu.write_time }}: {{ page.write_time }}<br />
{% endif %}
{% if page.edit_time != nil %}
    {{ menu.edit_time }}: {{ page.edit_time }}<br />
{% endif %}
</p>
<p>
    {% for tag in page.tags %}
        <code>{{ tag }}</code>
    {% endfor %}
</p>
{% if page.parent != nil or page.children != nil or page.related != nil %}
<p>
{% if page.parent != nil %}
    {% assign par = site.docs | where: "lang", page.lang | where: "link-ref", page.parent %}
    {% assign par = par[0] %}
    🔼상위 문서: <a href="{{ site.baseurl }}/{{ page.lang }}/{{ par.category }}/{{ par.link-ref }}">{{ par.title }}</a>
    {% if page.children != nil or page.related != nil %}<br />{% endif %}
{% endif %}
{% if page.children != nil %}
    🔽하위 문서: {% for child in page.children %}
        {% assign par = site.docs | where: "lang", page.lang | where: "link-ref", child %}
        {% assign par = par[0] %}
        {% if forloop.index0 != 0 %},{% endif %}
        <a href="{{ site.baseurl }}/{{ page.lang }}/{{ par.category }}/{{ par.link-ref }}">{{ par.title }}</a>
    {% endfor %}
    {% if page.related != nil %}<br />{% endif %}
{% endif %}
{% if page.related != nil %}
    🔀관련 문서: {% for rel in page.related %}
        {% assign par = site.docs | where: "lang", page.lang | where: "link-ref", rel %}
        {% assign par = par[0] %}
        {% if forloop.index0 != 0 %},{% endif %}
        <a href="{{ site.baseurl }}/{{ page.lang }}/{{ par.category }}/{{ par.link-ref }}">{{ par.title }}</a>
    {% endfor %}
{% endif %}
</p>
{% endif %}
{% if page.summary != nil %}
<blockquote>{{ page.summary }}</blockquote>
{% endif %}

<ul id="toc">
    <li style="font-size:20px;font-weight:bold;">{{ menu.index }}</li>
</ul>

{{ page.content }}
